<h2>CheaterMind</h2>
<h3>(MasterMind <a href="https://github.com/IBwWG/cheatermind">with terrible luck</a>)</h3>
{{#if guesses.length === 1}}
  <div> 
    Possible colours: <input type='number' min='2' max='16' bind:value='colourCount'/><br/>
    Slots: <input type='number' min='1' max='23' bind:value='slotCount'/><br/>
    Presets:
    {{#each Object.keys(presets) as name}}
      <Preset name='{{name}}' on:select='usePreset(event.name)'/>
    {{/each}}<br/>
  </div>
{{else}}
  <button on:click='init()'>Reset</button><br clear='all'/>
{{/if}}
<hr/>
<input type='checkbox' bind:checked='options.showRemaining.setting'/>
<span on:click='toggle("showRemaining")'>{{options['showRemaining'].text}}</span>
<br/>
<input type='checkbox' bind:checked='options.disallowDupes.setting'/>
<span on:click='toggle("disallowDupes")'>{{options['disallowDupes'].text}}</span>
<br/>
<input type='checkbox' bind:checked='options.disallowIllogicalMoves.setting'/>
<span on:click='toggle("disallowIllogicalMoves")'>{{options['disallowIllogicalMoves'].text}}</span>
<br/>
<input type='checkbox' bind:checked='options.autoHint.setting'/>
<span on:click='toggle("autoHint")'>{{options['autoHint'].text}}</span>
<br/>
{{#if error !== ''}}
  <div class='error'>
    {{error}}
  </div>
{{/if}}

<div class='grid'>
  {{#each guesses as guess}}
    <div class='row'>
      {{#if guess.length > 1}}
        {{#each guess[0] as slot}}
          <Slot colourNumber='{{slot}}'/>
        {{/each}}
        <span class='arrow'>&rarr;</span>
        <span class='grade'>{{ renderGrade(guess[1]) }}</span>
        {{#if options.showRemaining.setting}}
          <span class='{{ illogical(guess[1], slotCount) ? "illogical" : "" }}'>
            {{ renderRemaining(guess[1]) }}
          </span>
        {{/if}}
      {{elseif !won}}
        <hr/>
        {{#each guess[0] as slot}}
          <Slot colourNumber='{{slot}}'/>
        {{/each}}
        <button class='gradebutton' on:click='gradeNewGuess()'>&rarr;</button><br/>
        {{#each guess[0] as slot, i}}
          <PickerSlot on:select='updateNewGuess(i, event.colourNumber)'
                      colourCount='{{colourCount}}'/>
        {{/each}}
      {{/if}}
    </div>
  {{/each}}
</div>
{{#if won}}
  <span class='won'>
    Congratulations, you <i>finally</i> won!
  </span>
{{/if}}

<script>
  import AI from '../js/AI';
  import PickerSlot from './PickerSlot.html';
  import Preset from './Preset.html';
  import Slot from './Slot.html';

  const illogical = (guessResult, slotCount) =>
    guessResult.endingPossibilityCount === guessResult.startingPossibilityCount
    && guessResult.grade[0] !== slotCount;


  export default {
    oncreate () {
      this.colourObserver = this.observe( 'colourCount', this.init,
        { init:false }); // avoid double init on startup
      this.slotObserver = this.observe( 'slotCount', this.init);
    },
    ondestroy () {
      this.colourObserver.cancel();
      this.slotObserver.cancel();
    },
    data () {
      return {
        colourCount: 6,
        slotCount: 4,
        guesses: [],
        error: '',
        won: false,
        presets: {
          'Classic': [6, 4],
          'Simple': [3, 3],
          'Coin Toss': [2, 1],
          'Colourful': [16, 5],
          'Yikes': [9, 7],
        },
        options: {
          showRemaining: { text: 'Show possibilities remaining', setting: false },
          disallowDupes: { text: 'Disallow duplicate moves', setting: true },
          disallowIllogicalMoves: { text: 'Disallow illogical moves', setting: false },
          autoHint: { text: 'Automatically enter a logical guess next', setting: false },
        },
      }
    },
    helpers: {
      renderGrade: guessResult =>
          new Array(guessResult.grade[0] + 1).join('✓')
        + new Array(guessResult.grade[1] + 1).join('~')
        + new Array(guessResult.grade[2] + 1).join('✗'),
      renderRemaining: guessResult =>
        `(${guessResult.startingPossibilityCount} →
          ${guessResult.endingPossibilityCount})`,
      illogical,
    },
    methods: {
      init() {
        const slotCount = this.get('slotCount') * 1;
        const colourCount = this.get('colourCount') * 1;
        if (slotCount === 0 || colourCount === 0) { return; }
        try {
          AI.init(slotCount, colourCount);
        } catch (e) {
          this.set({error: e});
          return; // keep running, but don't reset
        }
        guesses = [];
        guesses.push([new Array(slotCount).fill(0)]);
        this.set({guesses, slotCount, colourCount, error: '', won: false});
      },
      usePreset(name) {
        const preset = this.get('presets')[name];
        this.set({
          colourCount: preset[0],
          slotCount: preset[1],
        });
      },
      updateNewGuess(slot, colourNumber) {
        let guesses = this.get('guesses');
        guesses[guesses.length - 1][0][slot] = colourNumber;
        this.set({guesses});
      },
      gradeNewGuess() {
        const options = this.get('options');
        let guesses = this.get('guesses');
        const newGuess = guesses[guesses.length - 1][0];
        if (options.disallowDupes.setting && guesses.length > 1) {
          const sameGuess = guesses.findIndex(
            guess => JSON.stringify(guess[0]) === JSON.stringify(newGuess) );
          if (sameGuess < guesses.length - 1) {
            this.set({error: `You already guessed this in guess #${sameGuess + 1}`});
            return;
          }
        }
        const guessResult = AI.guess(newGuess); // it's OK to mutate, nothing changes
        if (options.disallowIllogicalMoves.setting
          && illogical(guessResult, this.get('slotCount'))) { 
          this.set({error: 'Illogical move not allowed'});
          return;
        }
        this.set({error: ''});
        guesses.splice(guesses.length - 1, 0, [newGuess.slice(0), guessResult]);
        this.set({guesses});
        if (guessResult.grade[0] === this.get('slotCount')) { // all checkmarks = player won!
          this.set({won: true});
        } else if (options.autoHint.setting) {
          const hint = AI.hint();
          hint.forEach((colour, slot) => {
            this.updateNewGuess(slot, colour);
          });
        }
      },
      toggle(dataKey) {
        const options = this.get('options');
        options[dataKey].setting = !options[dataKey].setting;
        this.set({options});
      },
    },
    components: {
      PickerSlot,
      Preset,
      Slot,
    }
  };
</script>

<style>
  .error {
    border: 2px dotted red;
  }
  .won {
    border: 5px dotted lime;
  }
  .gradebutton {
    width: 40px;
    height: 40px;
    font-size: 20px;
  }
  .arrow {
    vertical-align: middle;
  }
  .grade {
    vertical-align: sub;
  }
  input[type=checkbox] {
    width: 20px;
    height: 20px;
  }
  input[type=checkbox] + span:hover {
    color: blue;
    cursor: pointer;
    user-select: none;
  }
  .illogical {
    color: red;
  }
</style>