<h2>CheaterMind</h2>
<h3>(MasterMind <a href="https://github.com/IBwWG/cheatermind">with terrible luck</a>)</h3>
{{#if guesses.length === 1}}
  <h4>...with <input type='number' min='2' max='16' bind:value='colourCount'/> possible colours in each of <input type='number' min='1' max='23' bind:value='slotCount'/> slots...</h4>
  <h4>Presets:
  {{#each Object.keys(presets) as name}}
    <Preset name='{{name}}' on:select='usePreset(event.name)'/>
  {{/each}}
  </h4>
{{else}}
  <button on:click='init()'>Reset</button>
{{/if}}
{{#if error !== ''}}
  <div class='error'>
    {{error}}
  </div>
{{/if}}

<div class='grid'>
  {{#each guesses as guess}}
    <div class='row'>
      {{#if guess.length > 1}}
        {{#each guess[0] as slot}}
          <Slot colourNumber='{{slot}}'/>
        {{/each}}
        <span class='arrow'>&rarr;</span>
        <span class='grade'>{{ renderGrade(guess[1]) }}</span>
      {{else}}
        <hr/>
        {{#each guess[0] as slot}}
          <Slot colourNumber='{{slot}}'/>
        {{/each}}
        <button class='gradebutton' on:click='gradeNewGuess()'>&rarr;</button><br/>
        {{#each guess[0] as slot, i}}
          <PickerSlot on:select='updateNewGuess(i, event.colourNumber)' colourCount='{{colourCount}}'/>
        {{/each}}
      {{/if}}
    </div>
  {{/each}}
</div>

<script>
  import Slot from './Slot.html';
  import Preset from './Preset.html';
  import PickerSlot from './PickerSlot.html';
  import AI from '../js/AI';

  export default {
    oncreate () {
      this.colourObserver = this.observe( 'colourCount', this.init, {init:false}); // avoid double init on startup
      this.slotObserver = this.observe( 'slotCount', this.init);
    },
    ondestroy () {
      this.colourObserver.cancel();
      this.slotObserver.cancel();
    },
    data () {
      return {
        colourCount: 6,
        slotCount: 4,
        guesses: [],
        error: '',
        presets: {
          'Classic': [6, 4],
          'Simple': [3, 3],
          'Coin Toss': [2, 1],
          'Colourful': [16, 5],
          'Yikes': [9, 7],
        },
      }
    },
    helpers: {
      renderGrade: grade => new Array(grade[0] + 1).join('✓') + new Array(grade[1] + 1).join('~') + new Array(grade[2] + 1).join('✗'),
    },
    methods: {
      init() {
        const slotCount = this.get('slotCount') * 1;
        const colourCount = this.get('colourCount') * 1;
        if (slotCount === 0 || colourCount === 0) { return; }
        try {
          AI.init(slotCount, colourCount);
        } catch (e) {
          this.set({error: e});
          return; // keep running, but don't reset
        }
        guesses = [];
        guesses.push([new Array(slotCount).fill(0)]);
        this.set({guesses, slotCount, colourCount, error: ''});
      },
      usePreset(name) {
        const preset = this.get('presets')[name];
        this.set({
          colourCount: preset[0],
          slotCount: preset[1],
        });
      },
      updateNewGuess(slot, colourNumber) {
        let guesses = this.get('guesses');
        guesses[guesses.length - 1][0][slot] = colourNumber;
        this.set({guesses});
      },
      gradeNewGuess() {
        let guesses = this.get('guesses');
        let newGuess = guesses[guesses.length - 1][0];
        guesses.splice(guesses.length - 1, 0, [newGuess.slice(0), AI.guess(newGuess)]);
        this.set({guesses});
      },
    },
    components: {
      Slot,
      PickerSlot,
      Preset,
    }
  };
</script>

<style>
  .error {
    border: 2px dotted red;
  }
  .gradebutton {
    width: 40px;
    height: 40px;
  }
  .arrow {
    vertical-align: middle;
  }
  .grade {
    vertical-align: sub;
  }
</style>