<div class='picker'>
    <span class='arrow'>&uarr;</span>
    {{#each colour as colourNumber}}
        <button on:click='fire("select", {colourNumber})'><Slot colourNumber='{{colourNumber}}' /></button>
    {{/each}}
</div>

<script>
  import Slot from './Slot.html';

  export default {
    oncreate () {
      this.colourObserver = this.observe( 'colourCount', count => {
        let colour = [];
        for (let i=0; i<count; i++) {
            colour.push(i);
        }
        this.set({colour});
      });
    },
    ondestroy () {
      this.colourObserver.cancel();
    },
    data () {
      return {
        colourCount: 6,
        colour: [],
      }
    },
    components: {
      Slot,
    }
  };
</script>

<style>
    .arrow {
      padding: 6px;
    }
    .circle {
      margin-left: 0px; /* because it's within a button */
    }
    .picker {
        width: 22px;
        margin: 0px auto;
        display: inline-block;
    }
    .picker button {
        border: 0;
        padding: 0;
        background: none;
    }
    .circle:hover {
        box-shadow:0 0 4px #222 inset;
    }
    .selected {
        border: 1px solid black;
    }
    button {
      margin-left: 2px;
    }
</style>