<span class='circle colour{{colourNumber}}'/>

<style>
    .circle {
        width: 20px;
        height: 20px;
        border-radius: 10px;
        display: inline-block;
        box-shadow:1px 1px 2px #000;
    }
    /* Thanks to Arne Niklas Jansson at androidarts.com for the palette choices. */
    .circle.colour0 { background-color:#000000; }
    .circle.colour1 { background-color:#9D9D9D; }
    .circle.colour2 { background-color:#FFFFFF; }
    .circle.colour3 { background-color:#BE2633; }
    .circle.colour4 { background-color:#E06F8B; }
    .circle.colour5 { background-color:#493C2B; }
    .circle.colour6 { background-color:#A46422; }
    .circle.colour7 { background-color:#EB8931; }
    .circle.colour8 { background-color:#F7E26B; }
    .circle.colour9 { background-color:#2F484E; }
    .circle.colour10 { background-color:#44891A; }
    .circle.colour11 { background-color:#A3CE27; }
    .circle.colour12 { background-color:#1B2632; }
    .circle.colour13 { background-color:#005784; }
    .circle.colour14 { background-color:#31A2F2; }
    .circle.colour15 { background-color:#B2DCEF; }
</style>